# Ignore CSV files
*.csv

# Ignore SDF files 
*.sdf 

# Ignore MOL2 files 
*.mol2

# Ignore HTML files
*.html 

# Ignore PPTX files 
*.pptx 

# Ignore pickle files due to size
*.pkl
67B3_inactives.pkl
